body, html {
    background-image: url("http://hd-wallpapers.ucoz.com/_ph/10/256007888.jpg");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
}

h1, .subtitle {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    
}

.slide {
    padding: 10px;
}


#title {
    color: black;
    text-align: center;
}

.title {
    font-size: 75px;
}

#ingredients {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

button {
    margin-top: -15px;
    margin-bottom: 5px;
    color: black;
}

#recipeImages {
    border: #656460 5px solid;
    width: 350px;
    height: 375px;
    margin-left: 60px;
    
}

#videoCarousel {
    background-color: #656460 5px solid;
    width: 75%; 
    margin: 0 auto;
    margin-top: 50px;

}

.slick-arrow {
    border-radius: 9999px;
    background-color: #656460;
}